.footer {
    background-color: #343A40;
    padding: 1.85rem 0;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    gap: .9375rem;
    color: #e5e5e5;
    line-height: 128.571429%; /* 18/14 */

}
.footer__text {
    text-transform: uppercase;
    font-weight: 700;
}


.footer_up:hover{
    text-decoration: underline;
}